<header>
    <h2>More Information About Person</h2>
</header>

<section>
    <nav>
        <ul>
            <img [src]="selectedinseemore[0].img" alt="">
        </ul>
    </nav>

    <article>
        <h2> {{selectedinseemore[0].category}}</h2>
        <h3>{{selectedinseemore[0].name}} , {{selectedinseemore[0].nickname}}</h3>
        <h4>{{selectedinseemore[0].occupation[0]}}</h4>
        <h1>{{selectedinseemore[0].status}}</h1>
    </article>
</section>

<footer>
    <p>@minail.com</p>
</footer>


<!-- <h2>{{selectedinseemore[0].name}}</h2> -->